Source: oceanroute
Section: utils
Priority: optional
Maintainer: Oleg Roitburd <oroitburd@gmail.com>
Build-Depends: debhelper (>= 9),cmake,qt5-default,libpng-dev,libopenjp2-7-dev,libnova-dev,libproj-dev,zlib1g-dev,libbz2-dev,qttools5-dev-tools,qttools5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/opengribs/OceanRoute.git
#Vcs-Git: https://anonscm.debian.org/collab-maint/oceanroute.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/oceanroute.git

Package: oceanroute
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, oceanroute-maps, fonts-liberation
Description: OceanRoute is a Grib file reader and visualizes meteorological data 
 OceanRoute is a Grib file reader and visualizes meteorological data providing an off-line capability to analyse weather forecasts or hindcasts. The OceanRoute software is released as open source under the GPLv3 License.

Package: oceanroute-maps
Architecture: all
Depends: ${misc:depends}
Description: Maps for OceanRoute weather visualisation
 This contains maps and country names used by OceanRoute
