[Desktop Entry]
Encoding=UTF-8
Name=OceanRoute GRIB file viewer
GenericName=GRIB file viewer
Comment=Meterological file viewer
Exec=OceanRoute
Icon=oceanroute.png
Terminal=false
Type=Application
Categories=Application;Geoscience;
StartupNotify=true
