[Desktop Entry]
Encoding=UTF-8
Name=Weathergrib GRIB file viewer
GenericName=GRIB file viewer
Comment=Meterological file viewer
Exec=Weathergrib
Icon=weathergrib.png
Terminal=false
Type=Application
Categories=Application;Geoscience;
StartupNotify=true
