<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Oceanroute</Name>
    <Version>2.3.0</Version>
    <Title>Oceanroute</Title>
    <Publisher>S+S</Publisher>
	<ProductUrl>https://opengribs.org/en/oceanroute</ProductUrl>
	<StartMenuDir>Oceanroute</StartMenuDir>
    <TargetDir>@ApplicationsDir@/Oceanroute</TargetDir>
	<RunProgram>@ApplicationsDirX86@/Oceanroute/Oceanroute.AppImage</RunProgram>
	<MaintenanceToolName>OceanrouteMaintenanceTool</MaintenanceToolName>
	<WizardStyle>Modern</WizardStyle>
	<Logo>Oceanroute_32.png</Logo>
	<WizardDefaultWidth>620</WizardDefaultWidth>
	<InstallActionColumnVisible>true</InstallActionColumnVisible>
	<InstallerApplicationIcon>Oceanroute_32</InstallerApplicationIcon>
	<InstallerWindowIcon>Oceanroute_32</InstallerWindowIcon>
	<RemoteRepositories>
	<Repository>
		<Url>https://opengribs.org/repository/linux</Url>
	</Repository>
    </RemoteRepositories>

</Installer>
