<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Weathergrib</Name>
    <Version>2.3.0</Version>
    <Title>Weathergrib</Title>
    <Publisher>OpenGribs.org</Publisher>
	<ProductUrl>https://opengribs.org/en/weathergrib</ProductUrl>
	<StartMenuDir>Weathergrib</StartMenuDir>
    <TargetDir>@ApplicationsDirX86@/Weathergrib</TargetDir>
	<RunProgram>@ApplicationsDirX86@/Weathergrib/Weathergrib.exe</RunProgram>
		<AllowSpaceInPath>true</AllowSpaceInPath>
    <RemoteRepositories>
        <Repository>
            <Url>https://opengribs.org/repository</Url>
        </Repository>
    </RemoteRepositories>
	<MaintenanceToolName>WeathergribMaintenanceTool</MaintenanceToolName>
	<WizardStyle>Modern</WizardStyle>
	<WizardDefaultWidth>620</WizardDefaultWidth>
	<InstallActionColumnVisible>true</InstallActionColumnVisible>
	<InstallerApplicationIcon>Weathergrib_32</InstallerApplicationIcon>
	<InstallerWindowIcon>Weathergrib_32</InstallerWindowIcon>
</Installer>
