<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>OceanRoute</Name>
    <Version>1.0.1</Version>
    <Title>OceanRoute</Title>
    <Publisher>OpenGribs.org</Publisher>
	<ProductUrl>https://opengribs.org/en/oceanroute</ProductUrl>
	<StartMenuDir>OceanRoute</StartMenuDir>
    <TargetDir>@ApplicationsDirX86@/OceanRoute</TargetDir>
	<RunProgram>@ApplicationsDirX86@/OceanRoute/OceanRoute.exe</RunProgram>
		<AllowSpaceInPath>true</AllowSpaceInPath>
    <RemoteRepositories>
        <Repository>
            <Url>https://opengribs.org/repository</Url>
        </Repository>
    </RemoteRepositories>
	<MaintenanceToolName>OceanRouteMaintenanceTool</MaintenanceToolName>
	<WizardStyle>Modern</WizardStyle>
	<WizardDefaultWidth>620</WizardDefaultWidth>
	<InstallActionColumnVisible>true</InstallActionColumnVisible>
	<InstallerApplicationIcon>OceanRoute_32</InstallerApplicationIcon>
	<InstallerWindowIcon>OceanRoute_32</InstallerWindowIcon>
</Installer>
