<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Weathergrib</Name>
    <Version>2.3.0</Version>
    <Title>Weathergrib</Title>
    <Publisher>S+S/Publisher>
	<ProductUrl>https://opengribs.org/en/weathergrib</ProductUrl>
	<StartMenuDir>Weathergrib</StartMenuDir>
    <TargetDir>/Applications/Weathergrib</TargetDir>
	<RunProgram>/Applications/Weathergrib/Weathergrib.app/Contents/MacOS/Weathergrib</RunProgram>
	<MaintenanceToolName>WeathergribMaintenanceTool</MaintenanceToolName>
	<WizardStyle>Modern</WizardStyle>
	<Logo>Weathergrib_32.png</Logo>
	<WizardDefaultWidth>620</WizardDefaultWidth>
	<InstallActionColumnVisible>true</InstallActionColumnVisible>
	<InstallerApplicationIcon>Weathergrib_32</InstallerApplicationIcon>
	<InstallerWindowIcon>Weathergrib_32</InstallerWindowIcon>
	<RemoteRepositories>
	<Repository>
		<Url>https://opengribs.org/repository/mac</Url>
	</Repository>
    </RemoteRepositories>

</Installer>
