<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>OceanRoute</Name>
    <Version>1.2.6</Version>
    <Title>OceanRoute</Title>
    <Publisher>OpenGribs.org</Publisher>
	<ProductUrl>https://opengribs.org/en/oceanroute</ProductUrl>
	<StartMenuDir>OceanRoute</StartMenuDir>
    <TargetDir>/Applications/OceanRoute</TargetDir>
	<RunProgram>/Applications/OceanRoute/OceanRoute.app/Contents/MacOS/OceanRoute</RunProgram>
	<MaintenanceToolName>OceanRouteMaintenanceTool</MaintenanceToolName>
	<WizardStyle>Modern</WizardStyle>
	<Logo>OceanRoute_32.png</Logo>
	<WizardDefaultWidth>620</WizardDefaultWidth>
	<InstallActionColumnVisible>true</InstallActionColumnVisible>
	<InstallerApplicationIcon>OceanRoute_32</InstallerApplicationIcon>
	<InstallerWindowIcon>OceanRoute_32</InstallerWindowIcon>
	<RemoteRepositories>
	<Repository>
		<Url>https://opengribs.org/repository/mac</Url>
	</Repository>
    </RemoteRepositories>

</Installer>
